Repository Distributive-Network/Bifrost, pull requests merged in 2022-09, with the labels that each got.

#89 88 Timing output flag for DCP workloads
  bifrost/dcp/Job.py
  bifrost/dcp/dcpDeployJob.js
Labels: enhancement, good first issue, dcp, python, javascript

#92 Default issue template
  .github/ISSUE_TEMPLATE/default_issue_template.yaml
Labels: documentation, enhancement

#98 Basic testing suite for Python-deployed DCP workloads.
  tests/dcp_javascript.py
  tests/dcp_numpy.py
  tests/dcp_scipy.py
  tests/dcp_simple.py
Labels: enhancement, dcp, python, javascript, testing

#96 Major overhaul of DCP submodule argument organization.
  bifrost/dcp/Job.py
  bifrost/dcp/dcpDeployJob.js
  bifrost/dcp/dcpWorkFunction.js
  bifrost/dcp/dcp_compute_worker.py
Labels: enhancement, dcp, python, javascript

#100 Adds basic recursion to py_storage parse and unparse.
  bifrost/py_storage.py
Labels: bug, python, javascript, shared memory, pipes, cache
